{% extends '../layout.html' %}

{% block content %}
    <!-- PROFILE LINKS -->
    <div class="col-sm-3">
		
		<div class="thumbnail chat-img">
	        <img src="/static/images/testimonials/testimonial2.jpg" alt="User Avatar" class="img-circle">
		</div>
		<div class="thumbnail text-center">
			John Doe
		</div>
		
		<div class="row">
		    <ul>
		        <li><a href="{{routes.userTransactions}}">Transaction History</a></li>
		        <li><a href="{{routes.setupPaymentPlan}}">Payment Plan</a></li>
		    </ul>
		</div>
    </div>

    <!-- PROFILE CONTENT -->
    <div class="col-sm-9">
		{% block profilecontent %}{% endblock %}
	</div>

{% endblock %}