{% extends 'layout.html' %}

{% block content %}
<div id="about-one-commons" class="container">

	<div class="row">
		  <div class="jumbotron">
    <h2>A new way to give</h2>
    <p>Aasdf imnee oadmkd.</p>
    <p>Words</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Participate!</a></p>
  </div>
	</div>
	
	<div class="row"><!--governance?-->
		<div class="headline"><h2>Meet Our Team</h2></div>
	        <div class="col-sm-3">
	            <div class="thumbnail">
	                <img class="img-responsive" src="assets/img/team/1.jpg" alt="">
	                <h3><a>Jack Bour</a> <small>Executive Director</small></h3>
	                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	                <ul class="list-unstyled list-inline">
	                	<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
	                </ul>
	            </div>
	        </div>
	        <div class="col-sm-3">
	            <div class="thumbnail">
	                <img class="img-responsive" src="assets/img/team/3.jpg" alt="">
	                <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
	                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	                <ul class="list-unstyled list-inline">
	                	<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
	                </ul>
	            </div>
	        </div>
	        <div class="col-sm-3">
	            <div class="thumbnail">
	                <img class="img-responsive" src="assets/img/team/2.jpg" alt="">
	                <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
	                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	                <ul class="list-unstyled list-inline">
	                	<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
	                </ul>
	            </div>
	        </div>
	        <div class="col-sm-3">
	            <div class="thumbnail">
	                <img class="img-responsive" src="assets/img/team/4.jpg" alt="">
	                <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
	                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	                <ul class="list-unstyled list-inline team-socail">
	                	<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
	                	<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
	                </ul>
	            </div>
	        </div>
	</div>


</div>	
{% endblock %}
