{% extends 'layout.html' %}

{% block content %}
<div class="container">
<h1>How it works</h1>
<h3>Anyone can give a penny a day. </h3>
<p>We’re creating a new way for people to pool small amounts together and decide which projects should be funded. Give a penny, dime, or dollar a day.

<h3>A small contribution can make a big impact.</h3>
<p>Every month, we do funding rounds where the most endorsed projects get financial support. When we all come together to choose, we can make a big impact with our individual contributions.

<h3>Get involved at any level you want.</h3>
<ul>
<li>Endorse projects (endorse as many as you want)
<li>Ask questions to make sure projects are well thought-through
<li>Add information and advice
<li>Spread the word
</ul>

<h3>From local to global</h3>
<p>Whether you are passionate about solving a local problem in your community or you want global change, you can use the OneCommons platform to come together with others to make a difference.

<h3>We’re making participation easy </h3>
</p>Once you’re a member, it’s as simple as clicking a button to endorse a project. You can also get more involved. Instead of writing a check to an organization and that’s, you get to participate at the level that you want and stay involved.

<h2>The nitty-gritty</h2>
<h3>Join OneCommons. </h3>
<p>Join for as little as a penny a day. Make a fixed monthly donation. You can cancel at any time.
<h3>Choose which projects and organizations to endorse. </h3>
<p>Since you’re not donating a specific amount of money, you can endorse as many projects as you like. You can also endorse another member’s endorsements or endorse a group focused on a local or global issue. 
<p>You can also give time, advice, and information, and ask questions to help make sure the projects are well thought-through.
<p>The more you engage and contribute the more your endorsements count. Learn more

<h3>Connect with other members</h3>
<p>On our own we feel isolated and powerless. Together we can build a community of people who care about making a difference through real, tangible projects that make an impact on the local or global level.

<h3>Every month, we make a difference</h3>
<p>Every month we use the collective intelligence of the community to award funds to the most endorsed projects. 
<p>Your money only goes to projects that you endorse directly or through people or groups you endorse.
<p>Struggling new ideas for change get a big boost and ambitious projects can do so much more. <a href='#'>Learn more</a>

<!-- 
<ol>
  <li>Join OneCommons by committing to a fixed monthly donation (<em>as little as a penny a day!</em>).</li>
  <li>You choose which projects and organizations to support/sponsor/endorse. Since you're not donating a specific amount of money, you can choose as many as you like. Or you can just follow the endorsements of people you trust.</li>
  <li>Every month we use the collective intelligence of the community to figure out how to maximize the impact of your monthly contribution to the projects and organizations you've endorsed. <a href='#'>Learn more</a></li>
  <li>The more you engage and contribute the more your endorsements count. <a href='#'>Learn more</a></li>
</ol>
-->
</div>
{% endblock %}