{% extends 'layout.html' %}

{% block content %}
<div class="container">
<h1>How it works</h1>
<ol>
  <li>Join OneCommons by committing to a fixed monthly donation (<em>as little as a penny a day!</em>).</li>
  <li>You choose which projects and organizations to support/sponsor/endorse. Since you're not donating a specific amount of money, you can choose as many as you like. Or you can just follow the endorsements of people you trust.</li>
  <li>Every month we use the collective intelligence of the community to figure out how to maximize the impact of your monthly contribution to the projects and organizations you've endorsed. <a href='#'>Learn more</a></li>
  <li>The more you engage and contribute the more your endorsements count. <a href='#'>Learn more</a></li>
</ol>
</div>
{% endblock %}