{% extends 'layout.html' %}

{% block navbar_extra %}{% endblock %}

{% block content %}
<style>
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Fauna+One|Belgrano|Ubuntu:400,700|Crete+Round|Convergence|Gafata|Ruluko|Nobile:400,700|Scada:400,700|Basic|Marmelad|Imprima|Merriweather:700);

.highlight {
padding: 12px 18px;
line-height: 2em;
white-space: nowrap;
color: #fff;
background-color: #eeaa34; /* $orange;*/
text-shadow: none;
}

.highlight-sm {
padding: 6px 9px;
line-height: 1em;
white-space: nowrap;
color: #fff;
background-color: #555;
text-shadow: none;
}

.orglogo {
height: 128px;
padding: 2em;
background: #857b6b; /* $brown-bg */
text-align: center;
}

.header h3 {
  font-family: "Ubuntu", sans-serif, Arial;
  font-size: 36px;
  color: #555C68;
  line-height: 25px; 
}

.header {
    text-align: center;
}

.info strong {
          font-family: "Belgrano", Georgia;
          font-size: 18px;
          color: #555; 
}
          
</style>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
<p><span class='highlight-sm'>34506</span> <span class='highlight'>more votes needed to make the next $25,000 grant</span>
<p><span class='highlight'>Help change the world - vote now!</span>
    </div>

    <div class="container">
				<div class="row">
				  	<div class="col-md-4">
				  	 
				    	<div class="thumbnail">
				    	  <div class=orglogo>
				      		<img height=60 src="/static/images/logos/plannedparenthood.svg">
				      	</div>
				     		<div class="caption">
				        		<h5>Planned Parenthood</h5>
				        		<p>Vote for this organization</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Vote</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss (42)</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-4">
				    	<div class="thumbnail">
				      		<img src="/static/images/testimonials/testimonial4.jpg" alt="User Avatar" class="img-circle">
				     		<div class="caption">
				        		<h5>Jane Doe's Monthly Pick</h5>
				        		<p>Vote for Jane Doe's Monthly Pick</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Vote</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      	</div>
				    	</div>
				    </div>
				  	<div class="col-md-4">
				    	<div class="thumbnail">
				      		<img src="/static/images/circle-icons/full-color/globe.png">
				     		<div class="caption">
				        		<h5>Environment Top Choice</h5>
				        		<p>Vote for the top Environmental cause</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Vote</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
			</div> <!-- row -->

				<div class="row">

				  	<div class="col-md-4">
				    	<div class="thumbnail">
				      		<img src="/static/images/testimonials/testimonial2.jpg" alt="User Avatar" class="img-circle">
				     		<div class="caption">
				        		<h5>John Smith's Monthly Pick</h5>
				        		<p>Vote for John Smith's Monthly Pick</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Vote</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      	</div>
				    	</div>
				    </div>
				  	<div class="col-md-4">
				    	<div class="thumbnail">
				      		<img src="/static/images/circle-icons/full-color/genius.png">
				     		<div class="caption">
				        		<h5>Science Top Choice</h5>
				        		<p>Vote for the top Science cause</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Vote</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-4">
				    	<div class="thumbnail">
				    	  <div class=orglogo>
				      		<img height=60 src="/static/images/logos/WWF.svg">
				      	</div>
				     		<div class="caption">
				        		<h5>Worldwide Wildness Foundation</h5>
				        		<p>Vote for this organization</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Vote</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss (42)</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
			</div> <!-- row -->
    </div> <!-- container -->

					<div class="container">
						<div class="row header">
							<h3>How does One Commons work?</h3>
						</div>
						<div class="row sections">
							<div class="col-md-4">
								<div class="section">
									<div class="pic">
										<img src="/static/images/icon1.png" class="img-responsive" alt="services1" />
									</div>
									<div class="info">
										<strong>Join by making a monthly donation</strong>
										<p>
											As little as 3 cents a day can make a big impact!
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="section">
									<div class="pic">
										<img src="/static/images/icon2.png" class="img-responsive" alt="services2" />
									</div>
									<div class="info">
										<strong>Vote for the causes you believe in.</strong>
										<p>
											Causes need a minimum number of votes, so don't hold back!
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="section">
									<div class="pic">
										<img src="/static/images/icon3.png" class="img-responsive" alt="services3" />
									</div>
									<div class="info">
										<strong>Every month one of the causes you voted for is selected to receive your donation.</strong>
										<p>
										  The selection is determined by the community, increasing our impact by working together.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
    

{% endblock %}

{% block jsfooter %}
<script type="text/javascript" src="/static/js/jquery.downCount.js"></script> 
<script type="text/javascript">
        $('.countdown').downCount({
            date: '{{countdownfinish}}',
            offset: +10
        }, function () {
            console.log('WOOT WOOT, done!');
        });
</script>
{% endblock %}
