{% extends 'layout.html' %}

{% block content %}
<div id="join-in">
  <div class="container">
    <h1>Join In Page</h1>
    <p>People sign up both as endorsers and project managers. This page has a login form.</p>
    <p>All accounts need to be the same type. Can both create projects and endorse projects.</p>
    <ul>
      <li><a href="#" class="">Success stories</a></li>
      <li><a href="#" class="">OneCommons in the press</a></li>
      <li><a href="#" class="">Create Project</a>. You can create a project draft without registering. It should be fun and easy to create a project. To set a project "live" for a fundraising round, you must complete non-profit registration.</li>
      <li><a href="/about/how-it-works" class="">How it works</a></li>
      <li><a href="#" class="">Registration</a>. You must register your non-profit to be able to submit a project. Provide tax docs, name, address, funding and payout method.  This link gets buried somewhere so that you're not forced to do it before creating a draft project.</li>
      
    </ul>
  </div>
</div>
{% endblock %}