{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <h1>Raise Money Page</h1>
  <p>Informational page selling the idea of OneCommons to non-profit fundraisers.</p>
  <ul>
    <li><a href="#" class="">Success stories</a></li>
    <li><a href="#" class="">Fee structure</a></li>
    <li><a href="#" class="">Requirements</a></li>
    <li><a href="#" class="">Registration</a></li>
    <li><a href="/about/how-it-works" class="">How it works</a></li>

    <li><a href="#" class="">OneCommons in the press</a></li>
  </ul>
</div>
{% endblock %}