{% extends 'layout.html' %}

{% block content %}
<div id="start-here">

This only shows if the user is not logged in. 
options here: join in

If anon pushes an endorse button, they are prompted to join in.

The off-site Endorse button acts like facebook like. If you aren't logged in, you get a one-liner about OneCommons and a join in button. 

	<div class="container">
		<h2>Navigating Projects</h2>
		<p>This page is where the user browses various projects. 
			<ul>
				<li><a href="http://www.crowdrise.com/give/causes">Crowd rise example</a></li>
				<li><a href="http://www.indiegogo.com/projects?filter_quick=popular_all">Indiegogo</a></li>
			</ul>
		</p>
	</div>
	<div class="container">

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
				  	<div class="col-md-4">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/sky" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-4">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/lava" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-4">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/industrial" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				</div>
				<div class="row">
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/sky" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/lava" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/industrial" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/social" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>		  			  			  	
				</div>
				<div class="row">
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/sky" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/lava" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/industrial" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-md-3">
				    	<div class="thumbnail">
				      		<img data-src="holder.js/253x168/social" alt="...">
				     		<div class="caption">
				        		<h3>Thumbnail label</h3>
				        		<p>Lorem ipsum dolores park. This is how an endorse listing could look. There will be more information and some little links and some people and other stuff. Things. Issues. Documentation.</p>
				        		<p>
				        			<a href="#" class="btn btn-primary" role="button">Endorse</a> 
				        			<a href="#" class="btn btn-default" role="button">Discuss</a>
				        			<a href="#" class="btn btn-default" role="button">Learn </a>
			        			</p>
				      		</div>
				    	</div>
				  	</div>		  			  			  	
				</div>
			</div>
			<div class="col-md-3 ">
				<div class="list-group">
						<h4>Categories</h4>
						<p>This is a list of the project categories. It make ajax new stuff into the left thumbnails. Make it affix gracefully when the user scrolls down through the page.</p>
			      		<a href="#" class="list-group-item">Environment</a>
			      		<a href="#" class="list-group-item">Education</a>
			      		<a href="#" class="list-group-item">Link</a>
			      		<a href="#" class="list-group-item">Category</a>
			      		<a href="#" class="list-group-item">Here is another</a>
			      		<a href="#" class="list-group-item">Dolores Met</a>
			      		<a href="#" class="list-group-item">San Francisco</a>
			      		<a href="#" class="list-group-item">Education</a>
			      		<a href="#" class="list-group-item">Link</a>
			      		<a href="#" class="list-group-item">Category</a>
			      		<a href="#" class="list-group-item">Here is another</a>
			      		<a href="#" class="list-group-item">Dolores Met</a>
			      		<a href="#" class="list-group-item">San Francisco</a>			      		
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}
