{% extends 'layouts/layout.html' %}

{% block content %}
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h3>Please confirm your email address</h3>

	<!-- show any messages that come back with authentication -->
	{% if message.length > 0 %}
		<div class="alert alert-danger">{{message}}</div>
	{% endif %}

	<br>
	<br>
	<p>We've sent a verification email to {{email}}</p>
	<p>If you don't recieve it, check your spam filters. Click here to re-send it</p>

	<hr>

	<p>Already have an account? <a href="/login">Log in</a></p>

</div>

</div>
{% endblock %}