/* roboto font */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
/* source sans pro */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
/* lato */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* merriweather */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);

@import url(http://fonts.googleapis.com/css?family=Fauna+One|Belgrano|Ubuntu:400,700|Crete+Round|Convergence|Gafata|Ruluko|Nobile:400,700|Scada:400,700|Basic|Marmelad|Imprima|Merriweather:700);

$roboto: "Roboto";
$lato: "Ubuntu", sans-serif, Arial;
$helvetica: "Belgrano", Georgia;
$myriad: Myriad Pro, Lato, Helvetica Neue, Arial;
$sourceSans: Source Sans Pro, Helvetica Neue, Arial;
$merriweather: "Merriweather", Georgia;

$brown: #645b4e;
$brown-bg: #857b6b; 
$orange: #eeaa34;
$purple: #ABABC4;
$alex: red;
$green: #88bf10;

/*
font-family: 'Belgrano', serif;
font-family: 'Crete Round', serif;
font-family: 'Merriweather', serif;

font-family: 'Imprima', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Convergence', sans-serif;
font-family: 'Gafata', sans-serif;
font-family: 'Ruluko', sans-serif;
font-family: 'Nobile', sans-serif;
font-family: 'Scada', sans-serif;
font-family: 'Basic', sans-serif;

*/